__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.usda
*.blend
*.blend1
*.zip
*.hdr
*.dae
out/bridge_jobs/
out/*
CLAUDE.md
*/**/CLAUDE.md
*.pyc
test_viz.ipynb
vendor_datasets
vendor_docs
mitsuba3
fix_optics.sh
*.tmp_cifs_exec_bin
*.jpg
*.png
assets/*
!assets/robots/
assets/robots/*
!assets/robots/ranger_mini_v3/
!assets/robots/ranger_mini_v3/**
tests/*
notes/*
apps/run_control_plane_dev.sh
Makefile
